ASCAD_variable_key/data/ASCAD_var.zip filter=lfs diff=lfs merge=lfs -text
ASCAD_variable_key/data/ASCAD_var.zip filter=lfs diff=lfs merge=lfs -text
CHES_CTF_2018/data/device_c_dataset.zip filter=lfs diff=lfs merge=lfs -text
